body {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        'logo header'
        'links content'

    height: 100vh;
    width: 100vw;
    margin: 0;

    background-color: black;
    color: white;
}


#content {
    overflow: scroll;
}
