#header {
    grid-area: header;

    text-align: center;
    font-weight: bold;

    border-bottom: 2px dotted gray;

    /* rainbow */
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
    -webkit-background-clip: text;
    color: transparent;
}
