#menu {
    grid-area: menu;
    background-color: #2280e1;
    text-align: center;

    border-right: 2px solid black;
    padding-top: 2em;

    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        'links'
        'anchors'
        'login';
}


#links {
    grid-area: links;
}


#anchors {
    grid-area: anchors;
}


#login {
    grid-area: login;
}


#menu * a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 1em;
}


#menu hr {
    border: 1px solid black;
    width: 80%;
}
