#logo {
    grid-area: logo;
    background-color: black;
    border-bottom: 2px dotted gray;
}


#logo img {
    display: block;
    margin: 1em auto;

    height: 7em;
    width: 7em;
}


#links {
    grid-area: links;

    background-color: black;
    border-bottom: 2px dotted gray;
}


#login {
    grid-area: login;
    background-color: black;
}


* a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 1em;
}
