#logo {
    grid-area: logo;
    background-color: #2280e1;
    border-bottom: 2px dotted black;
}


#logo img {
    height: 7em;
    width: 7em;
    margin: auto;
}


#links {
    grid-area: links;
    background-color: #2280e1;
    border-bottom: 2px dotted black;
}


#login {
    grid-area: login;
    background-color: #2280e1;
}


* a {
    display: block;
    color: white;
    text-decoration: none;
}
