{% extends 'layout/base.html' %}


{% block content %}
    <link rel='stylesheet' href='/static/css/index.css'>
    <section id='content'>


        <section id='about'>
            <h1>About</h1>
            <p>
                I suppose a few questions need a few answers. What is this, who am I, what qualifies me to speak on this topic, how did I get into your house, etcetera.
            </p>

            <p>
                Well, my dearest reader, I'm Neko. I'm a hacker working in network security. I've also had a very rough experience with existence so far. For now, I'll save you the details. I've been seeing a psychiatrist and a therapist in an effort to address my personal traumas. My therapist has been giving me a myriad of resources, and, with my busy life, it's become difficult to keep track of them. I created this website to do that for me and also to share those resources, my thoughts on them, and some of my personal experiences. I hope we find some value in this, and thank you for reading.
            </p>
        </section>
        <hr>


        <section id='peoplelevels'>
            <h1>People Levels Chart</h1>
            <p>
                So, this is something my therapist and I have been working on for a while, and it's a tool to define boundaries with peeople. Everyone I know falls somewhere on this chart. I'll also go over each level and what it means.
            </p>

            <h2>CognitoHazards</h2>
            <p>CognitoHazards are people who've harmed me in one way or another that even thinking about them causes some level of distress. A permanent shit list, if you will.</p>

            <h2>Active Threats</h2>
            <p>These are also people who've harmed me, but aren't people I have psychological hangups discussing. They're anyone I feel the need to take action against or avoid.</p>

            <h2>Passive Threats</h2>
            <p>Once again, people who've harmed me or demonstrated that they may intend harm. Threats to be aware of but not to take action against yet.</p>

            <h2>Strangers</h2>
            <p>People I don't know at all.</p>

            <h2>Met Once</h2>
            <p>People I've met exactly once. Not much to be said about it.</p>

            <h2>Acquaintances</h2>
            <p>These are people I have some friendly interactions with in one specific context, such as people at work or at a club. Like friends, but only in one specific social setting.</p>

            <h2>Friends</h2>
            <p>
                These are people I consider friends but not yet close friends.
                The criteria for this is that we've intentionally gone out of our way to meet outside of the original context we know each other from.
            </p>

            <h2>Close Friends</h2>
            <p>
                People I'll let even closer to me. People I generally feel comfortable being my authentic self with.
                The criteria for this is that I've experienced some negative situation and they didn't try to separate the good from the bad.
                These absolutely cannot be fair weather friends or people who expect no drama. There will be drama, that's part of life.
            </p>

            <h2>Lovers</h2>
            <p>People I have a romantic interest in.</p>

            <h2>Therapist</h2>
            <p>My therapist is here because I'd probably tell them things I wouldn't tell people closest to me.</p>

            <h2>Nobody</h2>
            <p>This spot reserved for things I wouldn't even tell my therapist. Cognitive padding.</p>

            <h2>Me</h2>
            <p>Finally, me. This is reserved for me, myself, and I. Not much to be said other than this is the central point where all relationships and boundaries extend from.</p>

        </section>
        <hr>
        
    </section>
{% endblock %}
