{% extends 'base.html' %}


{% block content %}
    <section id='content'>


        <section id='tools'>
            <h1>Tools</h1>
            <ul>
                <li>People Levels Chart (Stay Tuned)</li>
                <li>Daily Texting</li>
                <li>Art</li>
                <li>Todo Lists</li>
                <li>Rewards Systems</li>
            </ul>
        </section>


        <section id='metrics'>
            <h1>Metrics</h1>
            <ul>
                <li>Mood chart</li>
                <li>Sleep</li>
                <li>VR</li>
                <li>Cooking</li>
                <li>Pulse Oximeter (SpO2 and Heartrate)</li>
                <li>Blood Pressure</li>
        </section>


        <section id='medicine'>
            <h1>Medicine</h1>
            <ul>
                <li>Auvelity</li>
                <li>Wellbutrin</li>
                <li>Abilify</li>
                <li>Trintellix</li>
                <li>Viibryd</li>
                <li>Effexor</li>
                <li>Strattera</li>
                <li>Adderall</li>
            </ul>
        </section>


        <section id='media'>
            <h1>Media</h1>
            <ul>
                <li>Taylor Tomlitson Netflix Spectial</li>
                <li>Christen Nef</li>
                <li>Tara Brach: Radical Compassion</li>
                <li>Emily and Amelia Nagoski: Burnout</li>
                <li>
                    Peter Levine
                    <ul>
                        <li>Waking the Tiger</li>
                        <li>https://www.consciouslife.com/conferences/tsc-3/sessions/building-inner-safety-for-deep-healing</li>
                        <li>Healing Trauma Full Audiobook</li>
                        <li>An Unspoken Voice</li>
                    </ul>
                </li>
                <li>
                    Feminist Survival Podcast
                    <ul>
                        <li>Emily Nagoski</li>
                        <li>Listening to Your Body Series</li>
                    </ul>
                </li>
                <li>https://usabp.org/resources/Documents/ANS%20English%20HANDOUT%20TDRv2.pdf</li>
                <li>https://nicabm.com/trauma/how-to-help-your-patients-understand-their-window-of-tolerance</li>
                <li>
                    Dr. Daniel Siegel
                    <ul>
                        <li>The Mindful brain</li>
                        <li>Aware</li>
                    </ul>
                </li>
                <li>Dr. Russel Barkeley: 30 Essential ideas for Parents</li>
                <li>Lydia Zyleska: The Mindfulness Prescription for Adults</li>
                <li>University of NC Resources</li>
                <li>Jen Cross: RAIN Meditation</li>
            </ul>
        </section>


    </section>
{% endblock %}
