{% extends 'layout/base.html' %}


{% block content %}
    <link rel='stylesheet' href='/static/css/story.css'>
    <section id='content'>


        <section id='about'>
            <h1>About</h1>
            <p>
                I suppose a few questions need a few answers. What is this, who am I, what qualifies me to speak on this topic, how did I get into your house, etcetera.
            </p>

            <p>
                Well, my dearest reader, I'm Neko. I'm a hacker working in network security. I've also had a very rough experience with existence so far. For now, I'll save you the details. I've been seeing a psychiatrist and a therapist in an effort to address my personal traumas. My therapist has been giving me a myriad of resources, and, with my busy life, it's become difficult to keep track of them. I created this website to do that for me and also to share those resources, my thoughts on them, and some of my personal experiences. I hope we find some value in this, and thank you for reading.
            </p>
        </section>
        <hr>


        <section id='test'>
            <h1>Test</h1>
            <p>
                MOAR CONTENT!
            </p>
        </section>
        <hr>


    </section>
{% endblock %}
