<!doctype html>
<html>
    <head>
        <title>Neurosparkles</title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/static/css/base.css'>

        <meta property='og:title' content='NeuroSparkles'>
        <meta property='og:type' content='website'>
        <meta property='og:url' content='https://neurosparkles.com'>
        <meta property='og:image' content='https://neurosparkles.com/static/images/brain.png'>
    </head>


    <body>
        {% include 'layout/header.html' %}
        {% include 'layout/sidebar.html' %}
        {% block content %}{% endblock %}
    </body>
</html>
