<link rel='stylesheet' href='/static/css/header.css'>

<section id='header'>
    <pre id='ascii'><code>
##    # ###### #    # #####   ####   #####  #####    ##   #####  #    # #      ######  #### 
# #   # #      #    # #    # #    # #       #    #  #  #  #    # #   #  #      #      #     
#  #  # #####  #    # #    # #    #  #####  #    # #    # #    # ####   #      #####   #### 
#   # # #      #    # #####  #    #       # #####  ###### #####  #  #   #      #           #
#    ## #      #    # #   #  #    # #     # #      #    # #   #  #   #  #      #      #    #
#     # ######  ####  #    #  ####   #####  #      #    # #    # #    # ###### ######  ####
    </code></pre>
</section>
