<link rel='stylesheet' href='/static/css/header.css'>

<section id='header'>
    <image id='leftbrain' src='static/images/brain.png'>
    <code id='ascii'><pre>
##    # ###### #    # #####   ####   #####  #####    ##   #####  #    # #      ######  #### 
# #   # #      #    # #    # #    # #       #    #  #  #  #    # #   #  #      #      #     
#  #  # #####  #    # #    # #    #  #####  #    # #    # #    # ####   #      #####   #### 
#   # # #      #    # #####  #    #       # #####  ###### #####  #  #   #      #           #
#    ## #      #    # #   #  #    # #     # #      #    # #   #  #   #  #      #      #    #
#     # ######  ####  #    #  ####   #####  #      #    # #    # #    # ###### ######  ####
    </pre></code>
    <image id='rightbrain' src='static/images/brain.png' style='transform: scaleX(-1);'>
</section>
