<link rel='stylesheet' href='/static/css/sidebar.css'>


<section id='logo'>
    <img src='/static/images/brain.png'>
</section>


<section id='links'>
    <a href='/'>Home</a>
    <a href='/resources'>Resources</a>

    {% if username in session %}
        <a href='/users/profile'>My Profile</a>
        <a href='/users/providers'>My Providers</a>
        <a href='/users/patients'>My Patients</a>
    {% endif %}
</section>


<section id='login'>
    <a href='/users/signup'>Sign Up</a>
    <a href='/users/login'>Login</a>
</section>
