{% extends 'layout/base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Display Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user['username'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['display_name'] }}</td>
            </tr>
        </tbody>
    </table>

    <form method='POST'>
        <input type='text' name='username' placeholder='{{ user['username'] }}'>
        <input type='text' name='email' placeholder='{{ user['email'] }}'>
        <input type='text' name='display_name' placeholder='{{ user['display_name'] }}'>
        <input type='submit' value='Update'>
    </form>
{% endblock %}
