{% extends 'layout/base.html' %}

{% block content %}
    <link rel='stylesheet' href='/static/css/form.css'>
    <section id='content'>
        <form method='POST'>
            <input type='text' name='username' placeholder='{{ user['username'] }}' value='{{ user['username'] }}'>
            <input type='text' name='email' placeholder='{{ user['email'] }}' value='{{ user['email'] }}'>
            <input type='text' name='display_name' placeholder='{{ user['display_name'] }}' value='{{ user['display_name'] }}'>
            <input type='submit' value='Update'>
        </form>
    </section>
{% endblock %}
